<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>
<body>
    <h1>{{ post.title }}</h1>

    <a href="{% url 'posts_by_author' post.author.id %}">{{ post.author.name }}</a>
    <p><strong>Дата:</strong> {{ post.published_date }}</p>

    <hr>

    <p>{{ post.content }}</p>

    <hr>

    <h2>Коментарі</h2>
    {% for comment in post.comments.all %}
        <p><strong>{{ comment.author_name }}</strong> ({{ comment.created_date }}):</p>
        <p>{{ comment.text }}</p>
        <hr>
    {% empty %}
        <p>Немає коментарів.</p>
    {% endfor %}
</body>
</html>